.home {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}

.restart {
  margin-top: 20px;
  width: max-content;
  font-size: 18px;
  font-weight: lighter;
  padding: 8px 35px 8px 35px;
  background-image: linear-gradient(to right, #9beebb, #17d7a0);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.restart:hover {
  background-image: linear-gradient(to right, #d1e4d8, #17d7a0);
  box-shadow: 1px 1px 15px #63c9ac;
}
