.card {
  width: 15rem;
  height: 18rem;
  background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #aad8d3;
  text-decoration: none;
  border-radius: 10px;
}

.imagen {
  width: 100px;
  height: 100px;
}

.name {
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  font-size: 18px;
  font-weight: lighter;
  padding: 8px 35px 8px 35px;
  background-image: linear-gradient(to right, #9beebb, #17d7a0);
  border-radius: 30px;
}

.name:hover {
  background-image: linear-gradient(to right, #d1e4d8, #17d7a0);
  box-shadow: 1px 1px 15px #63c9ac;
}

.link {
  text-decoration: none;
  color: black;
}

.typeContainer {
  margin-top: 30px;
}

.type {
  margin: 10px;
  padding: 4px 10px 4px 10px;
  color: #544179;
}
